<mat-accordion *ngIf="pokemon.length > 0">
  <mat-expansion-panel *ngFor="let mon of pokemon">
    <mat-expansion-panel-header>
      {{mon.name}}
    </mat-expansion-panel-header>
    <p>{{mon.description}}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit','mon.id']">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(mon.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="pokemon.length <= 0">no pokeon yet</p>
