<mat-card>
  <form (submit)="onAddPokemon(pokemonForm)" #pokemonForm="ngForm">
    <mat-form-field>
      <input matInput
             type="text"
             name="name"
             [ngModel]="pokemon.name"
             required
             minlength="3"
             placeholder="Pokemon Name"
             #nameInput="ngModel">
      <mat-error *ngIf="nameInput.invalid">Enter a pokemon name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="2"
        name="description"
        placeholder="Pokemon Description"
        [ngModel]="pokemon.description"

      ></textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Save
    </button>
  </form>
</mat-card>

